@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-principal);
}

.ecommerCampus{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu product";
}

.menu_lateral{
    width: 50vh;
    grid-area: menu;
}

.menu_lateral .logo{
    color: var(--color-cuarto);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.menu_lateral .opciones{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_lateral .opciones .opciones_menu ul li{
    margin: 2vh;
    font-size: 1.3em;
    list-style: none;
}

.menu_lateral .opciones .opciones_menu ul li a{
    text-decoration: none;
    color: var(--color-cuarto);
}

.menu_lateral .opciones .opciones_menu ul li a:hover{
    color: var(--color-menu-movil);
}

.menu_lateral .opciones .Carrito{
    margin-top: 5vh;
    display: flex;
}

.menu_lateral .opciones .Carrito a{
    text-decoration: none;
    color: var(--color-cuarto);
    font-size: 1.3em;
    margin-right: 20vh;
    display: flex;
    align-items: center;
}

.menu_lateral .opciones .Carrito h1{
    background: white;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 10px;
}

.productos{
    height: 96vh;
    margin: 1vh;
    border-radius: 10px;
    background: var(--color-cuarto);
    grid-area: product;
    display: flex;
    flex-direction: column;
}

.productos h1{
    color: var(--color-fuentes);
    margin: 1vh;
}

.productos_comprados{
    margin: 10px;
    overflow-y: scroll;
    height: 75vh;
}

.productos_comprados .item{
    border-radius: 30px;
    margin-top: 10px;
    background: white;
    display: flex;

}

.productos_comprados .item img{
    width: 30%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    width: 100px;
    height: 150px;
    margin: 10px;
}

.productos_comprados .item .imagen, .descripcion, .cantidad, .precio,
.total, .cancelar{
    width: 30%;
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}


.opciones_carrito{
    margin-left: 3vh;
    margin-right: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opciones_carrito button{
    background: var(--color-tercero);
    border: none;
    height: 5vh;
    width: 10vh;
    border-radius: 15px;
    color: var(--color-menu-movil);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

.opciones_carrito .Comprar{
    display: flex;
    align-items: center;
}

