@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-body);
    font-family: 'Poppins', sans-serif;
}

header{
    margin: 20px;
    height: 10vh;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    display: flex;
}

header .nombre_principal{
    color: var(--color-naranja);
    margin-left: 10vh;
}

header .menu ul{
    display: flex;
    margin-right: 10vh;
}

header .menu ul li{
    margin: 20px;
    list-style: none;
}

header .menu ul .Home{
    border: 1px solid green;
}

header .menu ul .Home{
    padding: 4px;
}

header .menu ul li a{
    color: var(--color-fuentes);
    text-decoration: none;
}

.principal{
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "contend img";
}

.contenido{
    grid-area: contend;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
}

.contenido h1{
    color: var(--color-naranja);
    font-size: 5em;
    margin: 20px;
}

.contenido p{
    color: var(--color-fuentes);
    font-size: 2em;
    margin-left: 20px;
}

.contenido button{
    background: var(--color-naranja);
    color: var(--color-fuentes);
    font-size: 1.2em;
    width: 25%;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.imagen{
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
}

.imagen img{
    width: 80%;
    height: 80%;
}

